page-login {
    .login-title{
        font-family: freeScript;
        color: #359CC7;
        font-size: 4em;
        min-width: 260px;
    }
    .top{
        min-height: 320px;
    }
    .login-main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    div.login-form{
        max-height: 20%;
    }
    .login-form{
        
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }
    .login-bg{
        background-image: url('../assets/img/login_fondo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .text-input-wp{
        border-color: white;
    }
    .logo{
        height: 160px;
        width: 160px;
    }

}