page-login {
    .login-title{
        font-family: freeScript;
        color: #359CC7;
        font-size: 4em;
    }
    .login-main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .login-bg{
        background-image: url('https://preview.ibb.co/cy0Pow/login_fondo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    }
    .text-input-wp{
        border-color: white;
    }
    .logo{
        height: 160px;
        width: 160px;
    }

}
